.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.hangman{
  margin: 10px;
  background: #ffffff;
}
.won-game{
  background: green;
  margin: 10px;
  padding: 15px;
}
.lost-game{
  background: red;
  margin: 10px;
  padding: 15px;
}
.Keyboard-container {
  background: azure;
  box-decoration-break: slice;
  border-radius: 10px;
  max-width: 800px;
 /* min-width: 720px;*/
}
.nbr-try{
  float: right;
  font-size: large;
  color: white;

}
.masque-container{
  color: black;
  background: #fff;
  min-width: 512px;
  text-align: center;
  font-size: 72px;
  margin: 5px;
  letter-spacing: 0.3em;
}
.Keyboard-container > .btn {
  font-size: large;
  font-weight: bold;
  margin: 5px;
  width: 50px;
  height: 50px;
  text-align: center;

}
.btn-green{
  border-color: green;
  color: green;
}
.btn-red{
  border-color: red;
  color: red;
}
.btn:hover{
  border-color: #61dafb ;
  border-radius: 5px;
}
.btn:disabled{
  cursor: not-allowed;
  border-radius: 10px;
  border-color: transparent;
}

.App-link {
  color: #61dafb;
}
.btn-new{
  font-size: large;
  margin: 5px;
  height: 50px;
  text-align: center;

}

.container {
  /* On ajoute une marge sur les cotés de l'écran */
  padding-right: 15px;
  padding-left: 15px;

  /* Et on centre */
  margin-right: auto;
  margin-left: auto;
}

/* Sur les grands écrans, on limite la largeur du contenu */
@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
